.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.imagem{
  width: 250px;
  height: 250px;
  margin-bottom: 50px;
}

button{
  padding: 15px;
  background-color: #ff7f50;
  color: white;
  border-color: #a0522d;
  border-radius: 0.6em;
  border-style: double;
  font-size: 18px;
  font-weight: 600;
}

.btn:active{
  transform: scale(0.98);
}

.textoFrase{
  font-style: italic;
  color: #a0522d;
  text-align: center;
  
}